<div class="login-container">
    <div class="login-animation">
        <img src="../../assets/imgs/Logo.png" alt="DA Bubble Logo">
        <p>DABubble</p>
    </div>

    <aside id="signUpBtn" class="signup-container">
        <p>Neu bei DABubble?</p>
        <a (click)="openSignUp()">Konto erstellen</a>
    </aside>

    <app-login id="login" class="fade-in-animation"></app-login>
    <app-sign-up id="signUp" class="d-none"></app-sign-up>

    <div class="legal-notice">
        <a href="#">Impressum</a>
        <a href="#">Datenschutz</a>
    </div>
</div>