.login-container {
    background: linear-gradient(1deg, #313AE5 1.22%, #797EF3 98.76%);
    height: 100vh;
    animation: backgroundAnimation 1800ms ease-in-out 800ms forwards;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(1deg, #313AE5 1.22%, #797EF3 98.76%);
    }

    100% {
        background: var(--Bg-color, #ECEEFE);
    }
}

.login-animation {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoContainerAnimation 500ms ease-in-out 1500ms forwards;

    @keyframes logoContainerAnimation {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            top: 10%;
            left: 15%;
        }
    }

    img {
        width: 100px;
        animation: logoAnimation 1900ms ease-in-out 800ms forwards;
    }

    @keyframes logoAnimation {
        0% {
            transform: translateX(0);
        }

        40% {
            transform: translateX(-70px);
            width: 100px;
        }

        70% {
            transform: translateX(-70px);
            width: 50px;
        }

        100% {
            width: 50px;
            transform: translateX(-70px);
        }
    }

    p {
        font-family: sans-serif;
        color: white;
        position: absolute;
        font-size: 2.5rem;
        opacity: 0;
        white-space: nowrap;
        animation: nameAnimation 1900ms ease-in-out 800ms forwards;
    }

    @keyframes nameAnimation {
        0% {
            transform: translateX(0px);
        }

        40% {
            transform: translateX(90px);
            opacity: 0.3;
            font-size: 2.5rem;
        }

        60% {
            transform: translateX(25px);
            opacity: 1;
            color: white;
            font-size: 1.5rem;
        }

        75% {
            transform: translateX(25px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }

        100% {
            transform: translateX(25px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }
    }
}

.fade-in-animation {
    opacity: 0;
    animation: fadeIn 1900ms ease-in-out 800ms forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.signup-container {
    position: absolute;
    top: 75px;
    right: 0;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;

    p {
        margin: 0;
    }

    a {
        color: var(--Purple-1, #444DF2);
        border: 1px solid transparent;
        border-radius: 30px;
        padding: 3px 5px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            border: 1px solid hsl(240deg 11.34% 73.1%);
        }
    }
}

.legal-notice {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;

    a {
        text-decoration: none;
        color: var(--Purple-1, #444DF2);
        border: 1px solid transparent;
        border-radius: 30px;
        padding: 3px 5px;
        cursor: pointer;

        &:hover {
            border: 1px solid hsl(240deg 11.34% 73.1%);
        }
    }
}

.d-none {
    display: none;
}