<div class="main-chat-header">
    <div class="main-chat-channel" (click)="openSettings('Entwicklerteam')">
        <img id="mainChatDropdown" src="../../../assets/imgs/main-chat/hashtag.png" alt="Hashtag">
        <span>{{channelsServ.currentChannel}}</span>
        <img class="arrow-drop-down" src="../../../assets/imgs/nav/arrow_drop_down.png" alt="Arrow Dropdown">
    </div>

    <div class="main-chat-users">
        @if (userData) {<div id="usersDisplay">
            @for (user of userData.slice(0, 3); track user) {
            <img src="{{ user?.profileImg }}" alt="User Image">
            }
        </div>}
        <span>{{ getChannelUsers().length }}</span>
        <img class="add-user" src="../../../assets/imgs/main-chat/person_add.png" alt="Add Person">
    </div>
</div>