<form [formGroup]="newUser" class="signUp" (ngSubmit)="submitForm($event)">

    <a (click)="toggleSignup()" class="back-to-login"></a>

    <h1>Konto erstellen</h1>

    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

    <div class="input-error-container">
        <input id="signUpFirstLastName" type="text" name="firstLastName" formControlName="firstLastName"
            placeholder="Vor- und Nachname" autocomplete="on" required>
        <p *ngIf="newUser.get('firstLastName')?.invalid && newUser.get('firstLastName')?.touched" class="error-text">
            Der Vor- und Nachname ist ungültig.
        </p>
    </div>

    <div class="input-error-container">
        <input id="signUpEmail" type="email" name="email" formControlName="email" placeholder="beispielname@email.de"
            autocomplete="on" required>
        <p *ngIf="newUser.get('email')?.invalid && newUser.get('email')?.touched" class="error-text">
            Die E-Mail-Adresse ist ungültig.
        </p>
    </div>

    <div class="input-error-container">
        <input id="signUpPassword" type="password" name="password" formControlName="password" placeholder="Password"
            autocomplete="on" required>
        <p *ngIf="newUser.get('password')?.invalid && newUser.get('password')?.touched" class="error-text">
            Das Password ist ungültig.
        </p>
    </div>

    <label>
        <input id="checkbox" type="checkbox" name="myCheckbox" (change)="onCheckboxChange($event)">
        Ich stimme der
        <a href="#">Datenschutzerklärung</a>
        zu.
    </label>

    <button [disabled]="submitForm" class="next-btn" type="submit">Anmelden</button>

</form>