.signUp {
    border-radius: 30px;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: fit-content;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    z-index: 3;

    h1 {
        color: var(--Purple-1, #444DF2);
        font-weight: 600;
        margin: 0;
    }

    p {
        text-align: center;
        margin: 0;
    }

    input {
        padding: 13px 110px 13px 70px;
        box-sizing: content-box;
        border-radius: 30px;
        background-color: #ECEEFE;
        border: 0;
    }
}

#signUpFirstLastName {
    background-image: url('../../../assets/imgs/person_filled.png');
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 12px;
    background-size: 20px;
}

#signUpEmail {
    background-image: url('../../../assets/imgs/mail.png');
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 12px;
    background-size: 20px;
}

#signUpPassword {
    background-image: url('../../../assets/imgs/lock.png');
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 12px;
    background-size: 20px;
}

.back-to-login {
    background-image: url('../../../assets/imgs/arrow_back.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 33px;
    background-color: unset;
    padding: 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }
}

.next-btn {
    all: unset;
    border-radius: 30px;
    background-color: #ECEEFE;
    border: 0;
    padding: 8px;
    text-align: center;
    padding: 11px 10px;
    cursor: pointer;
    background: var(--Purple-1, #444DF2);
    color: white;
    position: relative;
    right: -115px;

    &:hover {
        background-color: #676eee;
    }
}