<form [formGroup]="newUser" class="signUp" (ngSubmit)="submitForm($event)">

    <a (click)="toggleSignup()" class="back-to-login"></a>

    <h1>Konto erstellen</h1>

    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

    <div class="input-error-container">
        <input id="signUpFirstLastName" type="text" pattern="[A-Za-zÄäÖöÜüß\s]+" name="firstLastName" formControlName="firstLastName"
            placeholder="Vor- und Nachname" autocomplete="on" [class.red-border]="newUser.get('firstLastName')?.invalid && newUser.get('firstLastName')?.touched" required>
        <p *ngIf="newUser.get('firstLastName')?.invalid && newUser.get('firstLastName')?.touched">
            Bitte geben Sie Ihren Vor- und Nachnamen ein.
        </p>
    </div>

    <div class="input-error-container">
        <input id="signUpEmail" type="email" name="email" formControlName="email" placeholder="beispielname@email.de"
            autocomplete="on" [class.red-border]="newUser.get('email')?.invalid && newUser.get('email')?.touched" required>
        <p *ngIf="newUser.get('email')?.invalid && newUser.get('email')?.touched">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </p>
    </div>

    <div class="input-error-container">
        <input id="signUpPassword" type="password" name="password" formControlName="password" placeholder="Password"
            autocomplete="on" [class.red-border]="newUser.get('password')?.invalid && newUser.get('password')?.touched" required>
        <p *ngIf="newUser.get('password')?.invalid && newUser.get('password')?.touched">
            Bitte geben Sie ein gültiges Passwort ein.
        </p>
    </div>

    <label>
        <input id="checkbox" type="checkbox" name="myCheckbox" (change)="onCheckboxChange($event)">
        Ich stimme der
        <a (click)="toggleDataProtection()">Datenschutzerklärung</a>
        zu.
    </label>

    <button [disabled]="newUser.invalid" [class.disabled-btn]="newUser.invalid" class="next-btn" type="submit">Anmelden</button>

</form>