<div class="channel-settings">
    <header>
        <p>
            <img src="../../assets/imgs/main-chat/hashtag.png" alt="Hashtag">
            Entwicklerteam
        </p>
        <span (click)="closeDialog()">x</span>
    </header>

    <div [class.editName]="editName" class="edit-channel-name">
        <p>
            <span>Channel-Name</span>
            <a (click)="toggleEditState('name')">{{ editName ? 'Speichern' : 'Bearbeiten' }}</a>
        </p>
        <input onchange="preventDefault()" type="text" name="" id="" placeholder="Entwicklerteam">
    </div>

    <div [class.editDescr]="editDescr" class="edit-channel-descr">
        <p>
            <span>Beschreibung</span>
            <a (click)="toggleEditState('descr')">{{ editDescr ? 'Speichern' : 'Bearbeiten' }}</a>
        </p>
        <textarea class="descr" name="" id="" >Dieser Channel ist für alles rund um #xyz vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen.
        </textarea>
        <hr>
        <p>
            <span>Erstellt von</span>
        </p>
        <h2>Noah Braun</h2>
    </div>

    <button>Channel verlassen</button>
</div>