<div class="channel-settings">
    <header>
        <p>
            <img src="../../assets/imgs/main-chat/hashtag.png" alt="Hashtag">
            Entwicklerteam
        </p>
        <span (click)="closeDialog()">x</span>
    </header>

    <div class="edit-channel-name">
        <p>
            <span>Channel-Name</span>
            <a>Bearbeiten</a>
        </p>
        <span class="edit-name">
            <img src="../../assets/imgs/main-chat/hashtag.png" alt="Hashtag">
            Entwicklerteam
        </span>
    </div>

    <div class="edit-channel-descr">
        <p>
            <span>Beschreibung</span>
            <a>Bearbeiten</a>
        </p>
        <span class="descr">
            Dieser Channel ist für alles rund um #xyz vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen.
        </span>
        <hr>
        <p>
            <span>Erstellt von</span>
        </p>
        <h2>Noah Braun</h2>
    </div>

    <button>Channel verlassen</button>
</div>