<form [formGroup]="loginUser" class="login" (ngSubmit)="submitForm($event)">

    <h1>Anmeldung</h1>

    <div class="input-error-container">
        <label data-required for="loginEmail">E-Mail</label>
        <input id="loginEmail" type="email" name="loginEmail" formControlName="email" placeholder="beispielname@email.de"
            autocomplete="on" [class.red-border]="loginUser.get('email')?.invalid && loginUser.get('email')?.touched"
            (change)="loginFeedback()" (focus)="removeFeedback()" required>
        @if (loginUser.get('email')?.invalid && loginUser.get('email')?.touched) {<p>
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </p>}
        @if (loginUser.get('email')?.touched && loginFeedbacks) {<p>
            {{loginFeedbacks}}
        </p>}
    </div>

    <div class="input-error-container">
        <label data-required for="loginPassword">Passwort</label>
        <input id="loginPassword" type="password" name="loginPassword" formControlName="password" placeholder="Password"
            autocomplete="on" (focus)="removeFeedback()" (change)="onChangeFeedback($event)"
            [class.red-border]="loginUser.get('password')?.invalid && loginUser.get('password')?.touched" required>
        @if (loginUser.get('password')?.invalid && loginUser.get('password')?.touched) {<p>
            Bitte geben Sie ein gültiges Passwort ein.
        </p>}
        @if (loginFeedbacks) {<p>
            {{loginFeedbacks}}
        </p>}
    </div>

    <a href="#">Password vergessen?</a>

    <div class="or-container">
        <hr>
        <p>ODER</p>
        <hr>
    </div>

    <button class="google-btn">
        <img src="../../assets/imgs/Google.png" alt="Google Logo">
        Anmelden mit Google
    </button>

    <div class="login-options">
        <button [disabled]="loginUser.invalid" [class.disabled-btn]="loginUser.invalid" type="submit"
            class="login-btn">Anmelden</button>
        <button (click)="checkGuestLogin()" class="guest-login-btn">Gäste-Login</button>
    </div>

</form>