<form [formGroup]="loginUser" class="login" (ngSubmit)="submitForm($event)">

    <h1>Anmeldung</h1>

    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <div class="input-error-container">
        <input id="signUpEmail" type="email" name="email" formControlName="email" placeholder="beispielname@email.de"
            autocomplete="on" [class.red-border]="loginUser.get('email')?.invalid && loginUser.get('email')?.touched"
            (change)="onFeedbackChange()" required>
        @if (loginUser.get('email')?.invalid && loginUser.get('email')?.touched) {<p>
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </p>}
        @if (loginUser.get('email')?.touched && loginFeedbacks) {<p>
            {{loginFeedbacks}}
        </p>}
    </div>

    <div class="input-error-container">
        <input id="signUpPassword" type="password" name="password" formControlName="password" placeholder="Password"
            autocomplete="on" (change)="onFeedbackChange()"
            [class.red-border]="loginUser.get('password')?.invalid && loginUser.get('password')?.touched" required>
        @if (loginUser.get('password')?.invalid && loginUser.get('password')?.touched) {<p>
            Bitte geben Sie ein gültiges Passwort ein.
        </p>}
        @if (loginFeedbacks) {<p>
            {{loginFeedbacks}}
        </p>}
    </div>

    <a href="#">Password vergessen?</a>

    <div class="or-container">
        <hr>
        <p>ODER</p>
        <hr>
    </div>

    <button class="google-btn">
        <img src="../../assets/imgs/Google.png" alt="Google Logo">
        Anmelden mit Google
    </button>

    <div class="login-options">
        <button [disabled]="loginUser.invalid" [class.disabled-btn]="loginUser.invalid" type="submit"
            class="login-btn">Anmelden</button>
        <button (click)="redirectDashboard()" class="guest-login-btn">Gäste-Login</button>
    </div>

</form>