<form class="login">

    <h1>Anmeldung</h1>
    
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <input id="email" type="email" name="email" placeholder="beispielname@email.de" autocomplete="on" required>

    <input id="password" type="password" name="password" placeholder="Password" autocomplete="on" required>

    <a href="#">Password vergessen?</a>

    <div class="or-container">
        <hr>
        <p>ODER</p>
        <hr>
    </div>

    <button class="google-btn">
        <img src="../../assets/imgs/Google.png" alt="Google Logo">
        Anmelden mit Google
    </button>

    <div class="login-options">
        <button class="login-btn" routerLink="/registrieren">Anmelden</button>

        <button class="guest-login-btn">Gäste-Login</button>
    </div>

</form>