<div class="logo-container" (click)="reloadPage()">
    <img src="../../../assets/imgs/Logo.png" alt="DABubble Logo">
    DABubble
</div>

<input id="headerInput" type="text" placeholder="Code learning durchsuchen">

<div class="logged-user-container" (click)="openDrodown()">
    <span>{{ currentUser.firstLastName }}</span>
    <img id="headerProfile" src="{{ currentUser.profileImg }}" alt="Profile Image">
    <hr>
    <img src="../../../assets/imgs/keyboard_arrow_down.png" alt="Arrow Dropdown">
</div>