<div class="imprint">

    <a (click)="toggleImprint()" class="back-to"></a>

    <h1>Imprint</h1>

    <p>Information according to § 5 TMG</p>
    <p>Diana Asmus <br>
        Brückenstraße 8<br>
        54634 Bitburg <br>
    </p>
    <p> <strong>Represented by: </strong><br>
        Diana Asmus<br>
    </p>
    <p><strong>Contact:</strong> <br>
        E-Mail: <a href='mailto:mail@dianaasmus.com'>mail&#64;dianaasmus.com</a><br>
    </p>

    <p>Impressum wurde erstellt mit <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a
            href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a></p>

</div>