<app-header class="header-position"></app-header>

<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side">

        <app-sidenav></app-sidenav>

    </mat-drawer>

    <div class="drawer-sidenav-content">
        <h1>hello</h1>
    </div>
    
</mat-drawer-container>

<button type="button" (click)="drawer.toggle()">
    <span>Workspace Menü schließen</span>
    <img src="../../../assets/icons/Group 2.png" alt="Menü schließen">
</button>