.header-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    height: 85px;
    z-index: 9;
}

.drawer-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ECEEFE;
}

.drawer-sidenav {
    visibility: visible;
    height: 84vh;
    background-color: white;
    padding: 20px 25px 20px 20px;
    border-radius: 30px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    top: auto;
}

button {
    display: flex;
    position: absolute;
    bottom: 200px;
    padding: 12px;
    color: black;
    background-color: white;
    z-index: 99;
    transform: rotate(-90deg);
    left: -88px;
    border: transparent;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 15px;
    gap: 10px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;

    img {
        transform: rotateZ(90deg);
    }
}