<app-login-animation></app-login-animation>

<div class="fade-in-animation">

    @if (showLogin && !showDataProtection && !showImprint) {<app-sign-up-notice></app-sign-up-notice>}

    @if (showLogin && !showDataProtection && !showImprint) {<app-login></app-login>}

    @if (showSignup && !showDataProtection && !showImprint) {<app-sign-up></app-sign-up>}

    @if (selectAvatar && !showDataProtection && !showImprint) {<app-select-avatar></app-select-avatar>}

    @if (showDataProtection) {<app-data-protection></app-data-protection>}

    @if (showImprint) {<app-imprint></app-imprint>}

    @if (!showDataProtection && !showImprint) {<app-legal-notice></app-legal-notice>}

</div>