<app-login-animation></app-login-animation>

<div class="fade-in-animation">

    <app-sign-up-notice *ngIf="showLogin && !showDataProtection && !showImprint"></app-sign-up-notice>

    <app-login *ngIf="showLogin && !showDataProtection && !showImprint"></app-login>

    <app-sign-up *ngIf="showSignup && !showDataProtection && !showImprint"></app-sign-up>

    <app-select-avatar *ngIf="selectAvatar && !showDataProtection && !showImprint"></app-select-avatar>

    <app-data-protection *ngIf="showDataProtection"></app-data-protection>

    <app-imprint *ngIf="showImprint"></app-imprint>

    <app-legal-notice *ngIf="!showDataProtection && !showImprint"></app-legal-notice>

</div>