* {
    font-family: 'Nunito', sans-serif;
}

body, html {
    background-color: #ECEEFE;
}

app-chat-history {
    overflow-y: auto;
}

// .cdk-overlay-dark-backdrop {
//     background: none !important;
// }

/* nunito-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/nunito-v26-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/nunito-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/nunito-v26-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/nunito-v26-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
    position: absolute !important;
    height: auto !important;
    width: auto !important;
    right: 50px !important;
    left: unset !important;
    top: 70px !important;
    border-radius: 30px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.drawer-sidenav-content {
    position: absolute !important;
    z-index: 1 !important;
    display: block !important;
    height: 87vh !important;
    bottom: 0 !important;
    top: unset !important;
    left: 50px !important;
    right: 0 !important;
    overflow: auto !important;
}