<form class="chat-textarea" (submit)="messageServ.addMessage()">
    <textarea (keyup.enter)="sendMessage()" [(ngModel)]="textarea" name="textField" cols="30" rows="10"></textarea>
    <div class="textarea-addition">
        <div>
            <img src="../../../assets/imgs/main-chat/add (1).png" alt="Add Appendix">
            <hr>
            <img src="../../../assets/imgs/main-chat/sentiment_satisfied.png" alt="Emoji">
            <img src="../../../assets/imgs/main-chat/alternate_email.png" alt="Email">
        </div>
        <button type="sumbit">
            <img class="send-icon" src="../../../assets/imgs/main-chat/Send icon.png" alt="Send">
        </button>
    </div>
</form>