<div class="chat-textarea">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="textarea-addition">
        <div>
            <img src="../../../assets/imgs/main-chat/add (1).png" alt="Add Appendix">
            <hr>
            <img src="../../../assets/imgs/main-chat/sentiment_satisfied.png" alt="Emoji">
            <img src="../../../assets/imgs/main-chat/alternate_email.png" alt="Email">
        </div>
        <img class="send-icon" src="../../../assets/imgs/main-chat/Send icon.png" alt="Send">
    </div>
</div>